SECRET_KEY="add your secret key"
ALGORITHM="your algorithm"
ACCESS_TOKEN_EXPIRE_MINUTES=add_minutes
REFRESH_TOKEN_EXPIRE_DAYS=7
DATABASE_URL=postgresql+asyncpg://internship:devpass@localhost:5433/internship_dev\